################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug LIB
*.vcxproj
*.user
*.filters
